

/* 编辑信息页面 */
.editLine li{margin-top: 20px; align-items: flex-start;}
.editLine li .title{width: 15%; line-height: 35px;}
.editLine li .title em{width: 10px;}
.editLine li .rr{width: 85%;}
.editLine li .rr.oneAdrs{border: 1px solid #eee;padding: 0 10px;box-sizing: border-box;}
.editLine li .rr.oneAdrs input{width: 80%; line-height: 35px;height: 35px;display: block;box-sizing: border-box;font-size: 13px;}
.editLine li .rr textarea{width: 100%;height: 120px; padding: 10px; box-sizing: border-box;border: 1px solid #eee; font-size: 12px;display: block;}
.editLine li .picLis{ flex-wrap: wrap;}
.editLine li .picLis .item{width: 68px; height: 80px; display: block; overflow: hidden;margin:0 10px 10px 0;}
.editLine li .picLis .item .pic{width: 100%;height: 100%; display: block;}
.editLine li .picLis .item .upload{display: block; position: absolute; top: 0;right: 0;bottom: 0;left: 0; opacity: 0;width: 100%;}
	
/* 编辑信息页面-右侧靠右内容 */
.userInfor li{display: flex; justify-content: space-between;border-bottom: 1px solid #eee;padding: 15px 0;align-items: flex-start;}
.userInfor li .ll{width: 30%;}
.userInfor li .rr{width: 70%;text-align: right; display: flex;justify-content: flex-end; align-items: flex-start;}
.userInfor li .rr input{text-align: right;display: block; width: 100%; font-size: 13px;}
.userInfor li .rr select{border: none; color: #999; font-size: 13px;}
	

	